.field {
    --gap: 2px;

    display: grid;
    grid-template-rows: repeat(var(--field-size-cells), 1fr);
    grid-template-columns: repeat(var(--field-size-cells), 1fr);
    gap: var(--gap);
    width: var(--field-size);
    min-width: var(--field-size);
    height: var(--field-size);
    min-height: var(--field-size);
    background: #858585;
    transition: transform 0.5s;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
